

@font-face{
    font-family:Slussen;
    src:url(/assets/fonts/Slussen-Compressed-Black.woff2) format("woff2");
    font-display:swap;
    font-weight:900;
    font-stretch:compressed;
}
@font-face{
    font-family:Slussen;
    src:url(/assets/fonts/Slussen-Expanded-Black.woff2) format("woff2");
    font-display:swap;
    font-weight:900;
    font-stretch:expanded;
}
@font-face{
    font-family:Slussen;
    src:url(/assets/fonts/Slussen-Regular.woff2) format("woff2");
    font-display:swap;
    font-weight:400
}
@font-face{
    font-family:Slussen;
    src:url(/assets/fonts/Slussen-Bold.woff2) format("woff2");
    font-display:swap;
    font-weight:700;
}

html,
body {
  margin: 0;
  padding: 0;
  height: 100%;
  overflow: hidden; // Lenis controls scroll
  font-family: Slussen;
}

app-root {
  display: block;
  height: 100%;
}
